.subscribe-now {
    background-color: var(--color-gray-2);
    overflow: hidden;
   }

        .subscribe-now .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 400px;
            width: 100%;
            margin-left: 295px;
        }
        .subscribe-now .container strong {
            font-size: 2.25rem;
            font-style: var(--font-play);
            font-weight: var(--font-weight-bold);
            color: var(--color-theme-dark);
            
        }
            .subscribe-now .container strong2 {
                color: var(--color-theme);
            }
                .subscribe-now .container p {
                    color: var(--color-theme-dark);
                }

    .subscribe-now .email-subscribe #emailSubscribe {
        border-radius: var(--border-radius-medium);
        height: 45px;
        margin: auto;
        position: relative;
    }
        .subscribe-now .email-subscribe #emailSubscribe input {
            position: absolute;
            border-radius: var(--border-radius-medium);
            height: 100%;
            width: 85%;
            outline: none;
            border: 1px solid var(--color-gray-2);
            font-size: 0.9rem;
            padding-left: 1.3rem;
        }
            .subscribe-now .email-subscribe a {
                position: absolute;
                right: 103px;
                margin-top: 3.109px;
                font-family: var(--font-roboto);
                font-size: 1rem;
                font-weight: var(--font-weight-regular);
                color: var(--color-white);
                text-decoration: none;
            }

    .subscribe-now .container .gray-box {
        height: 100%;
        width: 640px;
        background-color: var(--color-gray-1);
        margin-right: 11px;
    }
        