.top-sellers .grid {
    display: grid;
    justify-content: center;
    gap: 0.8rem;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-template-rows: repeat(2, minmax(100px, 338px));
    margin-bottom: 6rem;
}         

.top-sellers .top-sellers-box {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
    border-radius: var(--border-radius-small);
    z-index: 0;

}
.top-sellers .top-sellers-box:hover {
    background-color: var(--color-gray-1);
    border-radius: var(--border-radius-small);
    overflow: hidden;
    transition: 0.25s ease-in-out;

}
    .top-sellers .top-sellers-box .top-sellers-box-title {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: var(--color-theme-dark);
        color: var(--color-white);
        padding: 0.5rem 1rem;
        font-weight: var(--font-weight-medium);
        font-size: 1rem;
        transition: 0.25s ease-in-out;
        overflow: hidden;
    }

    /* fixar till så att första cardet startar på samma nivå som de andra cardsen */
        .top-sellers .top-sellers-box .first-child .top-sellers-box-title {
            height: 7%;
        }
   
  
        .top-sellers .top-sellers-box:hover .top-sellers-box-title {
            height: 100%;
            opacity: 0.9;
            transition: 0.25s ease-in-out;
        }
        
            .top-sellers .top-sellers-box .top-sellers-box-title h1 {
                position: absolute;
                bottom: 0;
                font-size: 1.125rem;
                margin-bottom: 0.8rem;
                transition: 0.25s ease-in-out;
                font-weight: var(--font-weight-regular);
            }
                .top-sellers .top-sellers-box:hover .top-sellers-box-title h1 {
                    bottom: 90px;
                    transition: 0.25s ease-in-out;
                }



    .top-sellers .top-sellers-box .top-sellers-box-title button {
        position: absolute;
        bottom: 65px;
        background-color: transparent;
        color: var(--color-white);
        border-color: var(--color-white);
        border: 1px solid var(--color-white);
        font-size: 0.875rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        margin: 0.5rem 0;
        opacity: 0;
    }
        .top-sellers .top-sellers-box:hover .top-sellers-box-title button {
            opacity: 1;
            transition: 0.25s ease-in-out;
        }

.top-sellers .top-sellers-box .top-sellers-box-title .top-sellers-old-price {
    position: absolute;
    bottom: 45px;
    text-decoration: line-through;
    margin: 0;
    opacity: 0;
}
    .top-sellers .top-sellers-box:hover .top-sellers-box-title .top-sellers-old-price {
        opacity: 1;
        transition: 0.25s ease-in-out;
    }

.top-sellers .top-sellers-box .top-sellers-box-title .top-sellers-discount-price {
    position: absolute;
    bottom: 15px;
    color: var(--color-theme);
    font-weight: var(--font-weight-medium);
    font-size: 1.5em;
    margin: 0;
    opacity: 0;
}
    .top-sellers .top-sellers-box:hover .top-sellers-box-title .top-sellers-discount-price {
        opacity: 1;
        transition: 0.25s ease-in-out;
    }
    
.top-sellers .container-top-sellers .top-card-menu {
    position: absolute;
    z-index: 1;
    top: 121%;
    right: 1rem;
    list-style: none;
    margin: auto;
    padding: 0.55rem;
    font-size: 1.25rem;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white);
    transition: 0.25s ease-in-out;
    opacity: 0;
}
    .top-sellers .container-top-sellers .first-child:hover .top-card-menu  {
        top: 20px;
        opacity: 1;
    }
        .top-sellers .container-top-sellers .first-child .top-card-menu li {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1.0em;
        }

            .top-sellers .container-top-sellers .first-child .top-card-menu li a {
                color: var(--color-gray-0);
            }

                .top-sellers .container-top-sellers .first-child .top-card-menu li a:hover {
                    color: var(--color-theme);
                }

.top-sellers .container-top-sellers .first-child .top-text-theme {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: var(--color-theme);
    opacity: 0;
    transition: 0.25s ease-in-out;
}
    .top-sellers .container-top-sellers .first-child:hover .top-text-theme {
        opacity: 1;
    }
    .top-sellers .container-top-sellers .second-child .top-text-theme {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem;
        color: var(--color-theme);
        opacity: 0;
        transition: 0.25s ease-in-out;
    }
    .top-sellers .container-top-sellers .second-child:hover .top-card-menu  {
        top: 20px;
        opacity: 1;
    }
        .top-sellers .container-top-sellers .second-child .top-card-menu li {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1.0em;
        }

            .top-sellers .container-top-sellers .second-child .top-card-menu li a {
                color: var(--color-gray-0);
            }

                .top-sellers .container-top-sellers .second-child .top-card-menu li a:hover {
                    color: var(--color-theme);
                }

.top-sellers .container-top-sellers .third-child .top-text-theme {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: var(--color-theme);
    opacity: 0;
    transition: 0.25s ease-in-out;
}
.top-sellers .container-top-sellers .third-child:hover .top-card-menu  {
    top: 20px;
    opacity: 1;
}
    .top-sellers .container-top-sellers .third-child .top-card-menu li {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 1.0em;
    }

        .top-sellers .container-top-sellers .third-child .top-card-menu li a {
            color: var(--color-gray-0);
        }

            .top-sellers .container-top-sellers .third-child .top-card-menu li a:hover {
                color: var(--color-theme);
            }

#top-sellers-box-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 700px;
    background-color: var(--color-gray-2);
}
#top-sellers-box-2 {
    grid-column: 3/-1;
    height: 335px;
    background-color: var(--color-gray-2);
}
#top-sellers-box-3 {
    grid-column: 3/-1;
    height: 350px;
    width: 613px;
    background-color: var(--color-gray-2);
}